# Data Structures - lists, tuples and dicts


## Recap

So far in this course, you've seen:
* 'Basic data types such as ints, floats, booleans and strings.'
* Operators (such as >, <, ==) for comparing two values
* If, elif and else statements to control which sections of code are run.

Today, we will look at new data types for working with sequences of data.

## Getting started

Either:

- Click [this link](https://github.com/engmaths/SEMT10002_2024/blob/main/weekly_labs/Week_06_Data_Structures/Lists%2C%20tuples%2C%20dicts.ipynb) to open this notebook in Google colab.  You'll need to sign in with a Google account before you can run it.  When you do, hit `Ctrl+F9` to check it all runs.

or

- Download it to your local computer using `git clone https://github.com/engmaths/SEMT10002_2024/Week_06_Data_Structures/` or just use `git pull` to refresh if you've done this already.
- Navigate to the subfolder `weekly_labs/Week_06_Data_Structures` and open the notebook `Lists, tuples, dicts.ipynb`.  For example, in Visual Studio Code, use `Ctrl+K Ctrl+O` to open a folder and select the folder just mentioned.  Then you can open the notebook file by clicking on it in the left hand explorer sidebar.

## Comprehension Checks

The Powerpoint file "comprehension checks.ppt" has a number of short code samples for you to review. If you have understood everything in the pre-watch videos, then you should be able to tell what the output of these blocks of code are *without* running them. In pairs, discuss what you think the output is and then check your answer by running the code yourself (all samples are available in comprehension_checks.py). Note you'll need to use comments to control which parts of the code run. If you get all questions correct, then I would suggest you skip the text of the worksheet (as it covers the same material as the videos) and go straight into the exercises. If you get something wrong, please ask your TA to explain it to you, or use menti.com code: 6184 155 to ask for further explanation from myself. Or in pseudo_python code:


```python
for question in comprehension_checks:
    your_ouput = ???
    actual_output = run_code()
    if your_output == actual_output:
        print("Well done!")
    else:
        ask_for_help()

    do_worksheet_exercises()
```

## Sequences of Data

Previously, we've introduced basic data types such as *int*, *boolean* and *string*. These can be used to store a single piece of information. e.g. We might store some data about a robot by writing

```python
robot_name = "Martin"
robot_xpos = 0.0
robot_ypos = 0.0
```

If we want a second robot, we could create some more variables- ```robot_name_2 = "Hemma"```, ```robot_name_3 = "Arthur"```. This is fine when we have small amounts of each variable- but what if we want to create and name 100 robots? 

Fortunately, Python has built-in data types for working with *sequences* of data, including *list*, *set*, *tuple* and *dictionary*. We'll look at each of these today, starting with the list.

## Lists

A list is a *mutable*, *ordered* data structure that can store multiple different data types. We can create an empty list by typing 

```my_list =  list() ``` 

or 

```my_list = []```

We can also create a list by simply enclosing a list of objects in square brackets. i.e by writing

In [108]:
robot_names = ["Martin", "Hemma", "Arthur", "Josh"]
print(robot_names)
type(robot_names)

['Martin', 'Hemma', 'Arthur', 'Josh']

list

Each item in a list is called an element and is associated with an index, which denotes the position of that item in the list. It's important to remember that in Python, the first element in a list is at **index 0, not index 1**. 

<img src="https://github.com/engmaths/SEMT10002_2024/blob/main/img/lists_1.png?raw=true" width="40%">

We can access an element in a list by writing the name of the list, followed by square brackets containing the index of the element. i.e To get the first element of our list of robot names, I would write:

In [5]:
first_name = robot_names[0]
print(first_name)

Martin

Python also allows us to access the elements of a list in reverse. If we write ```my_list[-1]```, we'll get the last element of the list, while ```my_list[-2]``` will get the second to last element of the list.

<img src="https://github.com/engmaths/SEMT10002_2024/blob/main/img/lists_2.png?raw=true" width="40%">

In [53]:
last_name = robot_names[-1]
print(last_name)

Bob

In either case, if we try to access element that does not exist (i.e we try to access element 5 in a list that only has 4 elements), we'll get an error- specifically, an IndexError.

In [109]:
name = robot_names[5]

IndexError: list index out of range

Just as we can use the index notation to access an element in a list, we can also use it to change the value of that element.

In [55]:
robot_names[0] = "Wilbur"
robot_names[-1] = "Oscar"
print(robot_names)

['Wilbur', 'Bob', 'Bob', 'Bob', 'Martin', 'Hemma', 'Arthur', 'Josh', 'Oscar']

We can create a sub-list (or slice) from our list by placing a ':' inside the square brackets. For example, to get the first two elements of our list, I would write

In [110]:
first_two_names = robot_names[0:2]
print(first_two_names)
type(first_two_names)

['Martin', 'Hemma']

list

Again, we need to note something important here- when we slice a list, the first number is the index of the first element we want, but the second number is the index **after** the element we want. When using the slice notation, we don't need to include a first number (Python will default to zero), a last number (Python will default to the end), and can optionally use reverse indices.

In [57]:
print(robot_names[:2])   # Print first two names
print(robot_names[2:])   # Print names at index two and beyond
print(robot_names[:-2])  # Print all but the last two names
print(robot_names[-2:])  # Print the last two names

['Wilbur', 'Bob']
['Bob', 'Bob', 'Martin', 'Hemma', 'Arthur', 'Josh', 'Oscar']
['Wilbur', 'Bob', 'Bob', 'Bob', 'Martin', 'Hemma', 'Arthur']
['Josh', 'Oscar']

# Nested Lists

The elements of a list in Python do not have to be the same data type- we could for example, write

In [58]:
my_list = ["Hello", 1, False]
print(my_list)
print(type(my_list[0]), type(my_list[1]), type(my_list[2]))

['Hello', 1, False]
<class 'str'> <class 'int'> <class 'bool'>

This means that it is possible for one list to contain another list as an element. For example, we can write

In [59]:
nested_list = [[1, 2], [3, 4]]
print(nested_list)

[[1, 2], [3, 4]]

Here, our list contains only two elements, both lists. The first of these elements is the list [1, 2], while the second element is the list [3, 4]. Nested lists are often used to represent matrices- the idea being that the first list ([1, 2]) represents the first row of the matrix, while the second list represents the second row of the matrix (and so on..). I.e our nested list is equivalent to the matrix

$
\begin{bmatrix}
1 & 2 \\
3 & 4
\end{bmatrix}
$

To access an element in the outer list, we use the normal syntax- i.e

In [99]:
print("First element is " + str(nested_list[0]))
print("Second element is " + str(nested_list[1]))

First element is [1, 2]
Second element is [3, 4]

To access the elements of these lists directly, we can simply use two sets of square brackets. i.e

In [100]:
print("Top left is " + str(nested_list[0][0]))
print("Top right is " + str(nested_list[0][1]))
print("Bottom left is " + str(nested_list[1][0]))
print("Bottom right is " + str(nested_list[1][1]))

Top left is 1
Top right is 2
Bottom left is 3
Bottom right is 4

### Exercise 1 - lists

1. Make two lists containing the values [1, 4, 9] and [1, 8, 27].
2. Double the value of the first element in each list.
3. Add the first element of the first list to the last element of the second list.
4. Make a nested list that contains both lists.

## Lists and Loops

In week 4, we introduced *for* and *while* loops. The code for a basic for loop looked like:

In [62]:
for ii in range(10):
    print('Step')
    print('ii is', ii)
print('Finished')

Step
ii is 0
Step
ii is 1
Step
ii is 2
Step
ii is 3
Step
ii is 4
Step
ii is 5
Step
ii is 6
Step
ii is 7
Step
ii is 8
Step
ii is 9
Finished

Remembering that Python uses indentation to determine scope. Here, ii is the *loop counter*, keeping track of which iteration we are on. It's very common to use a loop to process the data in a list. For example, we could write:

In [63]:
for ii in range(len(robot_names)):
    print('robot name is', robot_names[ii])

robot name is Wilbur
robot name is Bob
robot name is Bob
robot name is Bob
robot name is Martin
robot name is Hemma
robot name is Arthur
robot name is Josh
robot name is Oscar

Here, i've used the built-in function *len* to tell me the length of the list- I could hardcode this as range(4), but it's good practice to avoid hardcoding as that makes my code more robust to things like e.g. the length of the list changing. 

In fact, the operation of looping through a list is so common that Python has some shorter syntax for acheiving the same thing. Instead of writing the code above, I can also write:

In [34]:
for robot_name in robot_names:
    print('robot name is', robot_name)

robot name is Wilbur
robot name is Hemma
robot name is Arthur
robot name is Oscar

In this code, robot_name is sequentially assigned the value of each element in the list. I'm able to do this because a *list* is an *iterable* data type. In Python, that means I can iterate over it in a loop. *Tuples* and *Dicts* (which we'll see later) are also iterable data types. This is a really neat way to write a loop (because I don't have to worry about the getting the range right, or assigning robot_name within the loop). However, sometimes it's useful to also get the index of each element as we go through it. Python again helps us out here with the *enumerate* function, as seen below.

In [39]:
for (ii, robot_name) in enumerate(robot_names):
    print('robot name', ii, 'is', robot_name)

robot name 0 is Wilbur
robot name 1 is Hemma
robot name 2 is Arthur
robot name 3 is Oscar

### Exercise 2 - lists and loops

1. The following table contains data from a recent assessment. Make some lists to store this data and then write a loop to calculate the average mark for each question. 

| Student | Question 1 | Question 2 | Question 3 |
| :-: | :-: | :-: | :-: |
| Martin | 6 | 1 | 4 |
| Arthur | 3 | 8 | 4 |
| Hemma | 7 | 4 | 5 |
| Josh | 4 | 7 | 3 |

2. Write a loop to calculate the sum of the values in 3 x 3 matrices. What is the sum of the values in the matrix below?

$
\begin{bmatrix}
5 & 3 & 4 \\
3 & 4 & 2 \\
4 & 3 & 1
\end{bmatrix}
$

3. Write a loop that replaces each value in a matrix with its square. i.e the top left value (5) should be replaced with $5^2=25$

## List Methods

There are a number of helpful built-in functions that we might use when working with lists. We've already seen two of them- *len()*, which will return the length of a list and *enumerate()*, which will turn a list into an iterable containing each element of the list and its index as a tuple. Some other functions we might use with lists are:

### Append

To add an element to a list, we can use the append method. For example, to add a name to our list of robot names, we could write:

In [43]:
robot_names.append("Bob")
print(robot_names)

['Martin', 'Hemma', 'Arthur', 'Josh', 'Bob']

By default, append will add an element to the end of the list. If we want to add it somewhere else, we have to instead use the function *insert()*, which takes an index as its first argument.

In [101]:
robot_names.insert(0, "Bob")
print(robot_names)

['Bob', 'Bob', 'Wilbur', 'Bob', 'Bob', 'Bob', 'Martin', 'Hemma', 'Arthur', 'Josh', 'Oscar']

### Operators

We can use certain operators (+, *) with lists. Adding (+) two lists together concatenates them, while multiplying a list by an integer N creates N copies of the list the concatenates them all together. What happens if you multiply two lists together? What happens if you multiply a list by a float? (Try it yourself!)

In [51]:
list1 = [1, 2, 3]
print(list1 + list1)
print(5 * list1)

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

### In

We can use the *in* keyword to check whether an element exists within a list.

In [83]:
print("Martin" in robot_names)
print("Errin" in robot_names)

True
False

There are many other useful functions (del, sum, pop, any, all) that you may want to use in your code.

| function | effect | sample use | 
| :-: | :-: | :-: |
| del | removes an element from a list | del robot_names[0] |
| sum | calculates the sum of all elements in a list | sum([1, 2, 3]) # returns 6 | 
| any | returns True if any elements of a list are True | any([False, True, False])  # returns True| 
| all | return True if all elements of a list are True | all([False, True, False) # returns False |
| max | returns the greatest element in a list | max([1, 2, 3]) # returns 3 |
| min | returns the smallest element in a list | max([1, 2, 3]) # returns 1 |

## Summary

Lists are a Python data type for storing sequences of data. Python lists are *ordered* - Each element in the list is associated with an index, starting from 0. Python lists are *mutable* - We can access and modify elements (or slices) of a list.  Python lists are *iterable* - we will commonly use a list by looping over (and processing) its elements. We may use nested lists to represent a matrix (or 2D grid). There are many built-in functions (len, enumate, in, and many more) that can help us work with lists. 

### Exercise - cumulative sum

Write some code that given a list of numbers will create a new list where each element is the cumulative sum of numbers in the first list. I.e if we have the list of numbers ```list_of_numbers = [1, 3, 6, 10]```, then our code should create a new list ```cumulative_sum = [1, 4, 10, 16]```

### Exercise - square and triangular numbers

1. Square numbers are defined as the numbers $n^2$ where $n$ is an integer. Write some code to create a list of all square numbers below 1000. How many are there? What is the largest number below 1000?

2. Triangular numbers $T_n$ are defined as the number of objects in an equilateral triangle with side length $n$. They are given by the formula $T_n = n(n+1)/2$.  Write some code to create a list of all triangular numbers below 1000. How many are there? What is the largest number below 1000?

3. Write some code to count how many square numbers (below 1000) are also triangular numbers.

### Exercise - planetary data

| Planet  | Diameter (km) | Mass  | Rotation period |
|-----|-----|-----|-----|
|Mercury | 4,878           | 0.06   |58.65 (d) | 
|Venus   | 12,100          | 0.82  | 243 (d) |  
|Earth   | 12,756         | 1.00  | 23.934 (h) | 
|Mars    | 6,794          | 0.11  | 24.623 (h) | 
|Jupiter | 142,800        | 317.89 | 9.842  (h) | 
|Saturn  | 120,000        | 95.17 | 10.233 (h) | 
|Uranus  | 52,400         | 14.56| 16 (h) | 
|Neptune | 48,400         | 17.24 | 18 (h) | 
|Pluto   | 2,445          | 0.002 | 6.39 (d) | 


Planet data taken from: https://www.rmg.co.uk/stories/topics/solar-system-data}

1. Write a program that identifies and prints the name and density $\rho$ (in kg m$^{-3}$) of the planet with the lowest density. Density, $\rho = \frac{m}{v}$, where $m$ = mass and $v$ = volume. Assume each planet is a perfect sphere

2. Write a program that identifies and outputs the names and rotation periods of planets with a rotation period shorter than Earth's.

## Tuples

A *tuple* is an ordered sequence of values. Like a list, tuples can contain elements of different types, are ordered, and also iterable. The values in a tuple must be comma separated and contained in round brackets

In [84]:
t = (1, 1.0, 'one')
print(t)
values = (1, 2, 3, 4)
for v in values:
    print(v**2)

(1, 1.0, 'one')
1
4
9
16

A major difference is that tuples are **immutable**, meaning that the values of their elements cannot be changed. If we try to change the value of an element of a tuple, we'll get a Type Error.

In [85]:
t[1] = -1

TypeError: 'tuple' object does not support item assignment

### A quirk with tuples with a single element

To create a tuple with only a single element, a comma must be placed after that element.

This avoids ambiguities with the use of round brackets to control operator precedence in maths

In [86]:
t1 = (1)
print(type(t1))

t2 = (1, )
print(type(t2))

<class 'int'>
<class 'tuple'>

# Dictionaries

While lists are great for many tasks, for certain operations they can be quite inefficient. In particular, if we want to check whether a list contains a certain value, we can use the *in* keyword to do this (as we saw above). However, while this is easy to do syntactically, internally, Python has to loop through the entire list, checking every value- for large lists, this can be really slow. Inserting an element into a list is also slow if we aren't adding it to the end. **Dictionaries** are another way we can store collections of objects that overcome some of these issues. 

In a dictionary, values are indexed by **keys** instead of integers. Keys are defined by the user and can be any immutable data type (strings, ints). We can create a dictionary by writing ```my_dict = {}``` or if we want to pre-allocate some data with the syntax 

```my_dict = {key1:value1, key2:value2}``` 

and so on.

In [91]:
my_dict = {1: 'Martin', 2: 'Hemma', 3: 'Arthur', 4: 'Josh'}

We can then access (and update) the values in a dictionary indexing the dictionary with the key. We can also add new key:value pairs by writing ```my_dict[new_key] = new_value```.

In [94]:
print(my_dict[1])
my_dict[1] = "Wilbur"
print(my_dict[1])

my_dict["One"] = "Helen"
print(my_dict["One"])
print(my_dict)

Wilbur
Wilbur
Helen
{1: 'Wilbur', 2: 'Hemma', 3: 'Arthur', 4: 'Josh', 'One': 'Helen'}

Just like with lists, we can use the *in* keyword to check whether a certain key is in a dictionary. Note that we must check for the *key*, not the *value* when we do this.

In [104]:
print(1 in my_dict)
print("Wilbur" in my_dict)

True
False

If we try to access a value using a key that doesn't exist, we'll get an error.

In [105]:
print(my_dict["Wilbur"])

KeyError: 'Wilbur'

# Dictionary example

Let's create a dictionary of country calling codes

| Key | Value |
| :-: | :-: |
| UK | 44 |
| Canada | 1 |
| Spain | 34 |
| Kazakhstan | 7 |

In [106]:
# creating the dictionary
calling_codes = { "UK":44, "Canada":1, "Spain":34, "Kazakhstan":7}

# let's access the country code for the UK using the key 'UK'
print(calling_codes["UK"])

44

Dictionaries are iterable, but by default only the keys can be retrieved. To use the values, we need to use the keys to access them in the loop.

In [107]:
for key in calling_codes:
    print(key)

for key in calling_codes:
    print("The code for", key, "is", calling_codes[key])

UK
Canada
Spain
Kazakhstan
The code for UK is 44
The code for Canada is 1
The code for Spain is 34
The code for Kazakhstan is 7

### Exercise - Translations

I'd like to write some code to automatically translate English sentences into Welsh. The file "translations.txt" has some code containing 100 common English words and their translations into Welsh. Can you write some code to translate the following sentences from English into Welsh?

1. The boy and girl read a book.
2. Please drink water and eat bread.
3. The man and woman walk to the city.
4. The child is happy and runs.
5. The teacher writes on the paper.

### Portfolio Exercise

Returning to the student data from the previous question, you already have some code to calculate the average and standard deviation for each question. 

| Student | Question 1 | Question 2 | Question 3 | Question 4 |
| :-: | :-: | :-: | :-: | :-: |
| Martin | 6 | 1 | 4 | 11 |
| Arthur | 3 | 8 | 4 | 15 |
| Hemma | 7 | 4 | 5 | 16 |
| Josh | 4 | 7 | 3 | 14 |

Now, I'd like to turn these set of marks into a set of overall grades for each student. To do that, I'd like to you to write some code to create a new list containing the total marks achieved by each student. i.e for Martin, this would be a total = 6+1+4 = 11. 

Next, I'd like you to write some code to calculate the mean and standard deviation of the total marks achieved. Recall that the standard deviation of some data is given by:

$\sigma = \sqrt {\sum^i_N \frac{(x_i-\mu)^2}{N}}$, where $\mu$ is the mean.

In Python, you can calculate a square root using the function ```math.sqrt()```.

Next, you should write some code to normalise the marks by subtracting the mean score from each mark. i.e here the mean mark is 14, so Martin's normalised mark should become 11-14=-3. 

Finally, I'd like to turn these marks into a grade according to the formula:

| Normalised Mark | Grade | 
| :-: | :-: | 
| mark < -1 * standard deviation | Fail | 
| -1 * standard deviation <= mark < 0 | C | 
| 0 <= mark < 1 * standard deviation | B | 
| 1 * standard deviation < mark | A | 

Write some code to turn the normalised mark into a grade for each student, storing the results in a *dictionary* with the student name as the key and grade as the value.

Write your code in the file assign_grades.py and test by running test_assign_grades.py

### Bonus Exercise - Traffic following model

One way that lists are commonly used in Python is to represent a grid of possible locations (i.e. the squares of a chess board). To represent a 2D grid, we'd normally use a nested list. However, a single list can still be used to represent a 1D grid.

Representations like this can be helpful for modelling the flow of traffic along a road. If we want to model a road that has space for 30 cars, we could create a list of length 100, and use the value "1" to represent spaces that have cars in them and the value "0" to represent empty spaces. 

In code, this would look like:

In [145]:
road = list()
road_length = 30
for i in range(road_length):
    road.append(0)
road[0] = 1

print(road)

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

Here, we've added a single car to the start of the road. Let's add some code to make our car move along the road, one space at a time.

In [146]:
updated_road = list()
for space in range(len(road)):
    if road[space-1]: #Here, I'm using that 1 evaluates to True in Python and 0 to false.
        updated_road.append(1)
    else:
        updated_road.append(0)
print(updated_road)

[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

If we run the code above in a loop, then our car will move along the road to the right.

In [151]:
from copy import copy
import random 

#This section of code initializes the model
road = list()
road_length = 30
for i in range(road_length):
    road.append(0)
road[0] = 1

print(road)
#This section of code updates the model
num_iterations = 10
for iteration in range(num_iterations):
    updated_road = list()
    for space in range(len(road)):
        if road[space-1]: #Here, I'm using that 1 evaluates to True in Python and 0 to false.
            updated_road.append(1)
        else:
            updated_road.append(0)
    print(updated_road)
    road = updated_road

[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

To make this model a bit more useful, we'll need to add some extra cars. Your first task is to change the initialization code to assign cars to the road randomly. Concretely, your code should place a car at an index with probability $p$, where $p$ is a variable that defines how congested your road is. You will probably want to use the built-in Python function random.random(), which will generate a random number between 0 and 1 in your code.

Next, we need to make our road updating code a bit more realistic- cars can only move forward if there is an empty space for them to move into. Your second task is to modify the code that updates the model to take this into account.

Next, we would like to measure the *flow rate* of our road. Here, this is relatively simple to define- it's the number of cars that moved forward. Modify the update code to calculate the flow rate at each step. 

Now that you have a simple model of traffic flow, you can explore what happens as you vary the starting density of cars. Can you write some code to find the density that gives (on average) the greatest flow?