# Exercise 1 - Lists

**Question 1.**

In [111]:
a = [1, 2]
b = [3, 4]

***
**Question 2.**

In [112]:
a[0] = 5

***
**Question 3.**

In [113]:
nested = [a, b]
print(nested)

[[5, 2], [3, 4]]

***
**Question 4.**

In [114]:
# the first loop; l is an element of nested so will be a list
for l in nested:
    # the second list; e is an element of the list l
    for e in l:
        print(e)

5
2
3
4

***
**Question 5.**

In [3]:
word_list = []
for n in range(5):
    word = input()
    word_list.append(word)
    
print(word_list)
print(len(word_list[-1]))

red
yellow
blue
green
potato
['red', 'yellow', 'blue', 'green', 'potato']
6

# Exercise 2 - List operations

**Question 1.**

In [5]:
colours = ['red', 'blue', 'green']
print(3 * colours)

['red', 'blue', 'green', 'red', 'blue', 'green', 'red', 'blue', 'green']

***
**Question 2.**

In [6]:
L = [True, True, False]
print(all(L))
print(any(L))

False
True

In [8]:
L = [4, 7, -3, 5, 1, 8]
print(any([l < 0 for l in L]))

True

***
**Question 3.**

In [115]:
l = [e for e in range(101) if e % 2 != 0]
print(l)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [116]:
l = [e for e in range(101) if e % 3 == 0]
print(l)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [9]:
l = [e for e in range(101) if all([e % x != 0 for x in range(2, e)]) and e > 1]
print(l)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 - Tuples and dictionaries

***
**Question 1.**

In [130]:
fondue_ingredients = ('gruyere', 'vacherin')

***
**Question 2.**

In [131]:
print(fondue_ingredients)

('gruyere', 'vacherin')

***
**Question 3.**  It is not possible to change "gruyere" to "cheddar" becauase tuples are immutable

***
**Question 4.**

In [1]:
colours = {'red': (1,0,0), 'green': (0,1,0), 'blue': (0,0,1), 'black':(0,0,0), 'white': (1,1,1)}

***
**Question 5.**

In [2]:
# prints the keys
for v in colours:
    print(v)

red
green
blue
black
white

In [3]:
# prints the values
for v in colours.values():
    print(v)

(1, 0, 0)
(0, 1, 0)
(0, 0, 1)
(0, 0, 0)
(1, 1, 1)

***
# Exercise 4 - Modelling using data structures

In [13]:
planets = {'Mercury': (4878, 0.06, 1407.6),
           'Venus': (12100, 0.82, 5832),
           'Earth': (12756, 1.00, 23.934),
           'Mars': (6794, 0.11, 24.623),
           'Jupiter': (142800, 317.89, 9.842),
           'Saturn': (120000, 95.17, 10.233),
           'Uranus': (52400, 14.56, 16),
           'Neptune': (48400, 17.24, 18),
           'Pluto': [2445, 0.002, 153.36]
          }

***
**Question 1.**

In [19]:
earth_rot = planets['Earth'][2]

for k in planets:
    planet_rot = planets[k][2]
    if planet_rot < earth_rot:
        print(k, planet_rot)

Jupiter 9.842
Saturn 10.233
Uranus 16
Neptune 18

***
# Exercise 5 - Sorting lists

The idea behind the code below is to first loop over all of the elements to find the smallest value in the list and its index.  Then the first element and the smallest element are swapped.  Then a loop is used to find the second-smallest number and its index by looping over the all list elements except the first (which we know is the smallest).  Then the second element and the second-smallest element are swapped.  The process then continues to find the third-smallest element and its index by looping over all of the elements except the first and second, etc

In [25]:
# define the list to be sorted
L = [6, 5, 3, 1, 5, 8, 9, 3, 6]

# compute length of list
N = len(L)

# loop over all of the entries in the list, starting from the first
for n in range(N):

    current_min_value = L[n]
    current_min_index = n
    
    # loop over all of the other elements to find the smallest number
    for m in range(n+1, N):
        
        # determine whether the current element is the smallest
        if L[m] < current_min_value:
            current_min_value = L[m]
            current_min_index = m
            
    # swap entries
    temp_value = L[n]
    L[n] = current_min_value
    L[current_min_index] = temp_value
    
    
# print the sorted list
print(L)

[1, 3, 3, 5, 5, 6, 6, 8, 9]